name: Go package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
          cache: true

      - name: build
        run: |
          make crossbuild
          tree .build
        env:
          GOPATH: /home/runner/go

      - name: release
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          make release
        env:
          GOPATH: /home/runner/go
